<h1>Playground</h1>
<div class="container">
  <mat-card>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>

    </mat-card-content>


  </mat-card>

  <mat-card>
    <mat-card-actions>
      <div class="btn-group btn-group__between">
        <div></div>
<!--        <a mat-stroked-button [routerLink]="['/scenario-1']">Vorheriges Szenario</a>-->

        <a mat-flat-button [routerLink]="['/scenario-2']">Nächstes Szenario</a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
