<h1>Scenario 1</h1>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Erstellen einer einfachen Form
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      Verwende die gegebene Typdefinition aus testdata/scenario-1/person.ts, um mithilfe des Form Generators ein Formular zu erstellen.

    </mat-card-content>

    <mat-card-content>
      Platzhalter - Füge hier den generierten Code ein.
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-actions>
      <div class="btn-group btn-group__between">
        <button mat-stroked-button type="button">Vorheriges Szenario</button>

        <div class="">
          <button mat-flat-button type="button">Hinweise anzeigen</button>
          <button mat-flat-button type="button">Nächstes Szenario</button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
