<h1>Szenario 3</h1>
<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Erstellen eines einfachen Formulars
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Du bist neu in deinem Team und sollst (wie in Szenario 1) für das Interface “Person” die Benutzeroberfläche einer neuen Form
        erstellen. Dafür bekommst du von einem Kollegen eine formConfig.json (testdata/formConfig.json), damit du den Form Generator
        gleichermaßen konfigurieren kannst. Dabei fällt allerdings auf, dass er die eine ältere Variante geschickt hat und folgende
        Anpassungen vorgenommen werden müssen:
      </p>

      <ul>
        <li>Für Felder vom Typen “boolean” werden nicht mehr Checkboxen, sondern SlideToggles verwendet</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      Platzhalter - Füge hier den Code für das Formular ein.
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-actions>
      <div class="btn-group btn-group__between">
        <a mat-stroked-button [routerLink]="['/scenario-2']">Vorheriges Szenario</a>
        <a mat-flat-button [routerLink]="['/scenario-3']">Nächstes Szenario</a>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
